.DS_Store
bin
obj
build
*.user
*.cache
*.suo
Logs
TestResult.xml
# This line keeps the db in check - comment it out to update the starting db
data
_ReSharper*
lib/golden_cap.zip
*.orig
*.cache
packages
TestResults

*.ncrunchsolution
_NCrunch_Highway