<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAxhC+MBTo40eLWuCEikSlxQAAAAACAAAAAAAQZgAAAAEAACAAAABkTIy6YqBJirYTWFrlDrh8XiNuVzWUhlJJK1Y4seHlwQAAAAAOgAAAAAIAACAAAAAuDX/tJo/NYMpWD0EGYzKmez7exJROoBrGDsSwkCqVSDAAAADlbaWzvyRB6hgkOBUArL86Ok9NMiU10q4FfK9vA2ipTmV+QmiDznKfHg/a6QjVcJZAAAAABBK3sTdG6mCztllE9gLrOMQhiZKq1HEVVj4aepSb59B6NUxkc4TJGhZFDUBpdE99H6YTpr7b2+7g43qWEuh0KA==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAxhC+MBTo40eLWuCEikSlxQAAAAACAAAAAAAQZgAAAAEAACAAAADaQISgiazMHcTgAt0zH6+7DuBKncsNf4h4DslKz2nYKgAAAAAOgAAAAAIAACAAAAC4BiUYyS+uW08qTeqJrn9dgkNtqIJfNp+e9d7CDP+PzDAAAAA7HvkME5klQGwRGM8rLx4vlYFsvC5CWgVNzejadZl2uWrR2bcj1+SiyYvWX9FE1OpAAAAAqDWhdvTC5mzEpGzwmkwmr8R/B2RUJ5r/apAiDJlYyCWfWM0ieyg0Bp2J9r5PXVm9VIRy5wdYrmYJZnbYmDazQw==" />
  </apikeys>
</configuration>