<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="https://www.nuget.org"
         value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA8AIoeAQ+IE6NzsOcXwVrzgAAAAACAAAAAAAQZgAAAAEAACAAAACJ6C0iDxFR7Xvb/N9b7xfzJhwpIbkt2Q7I5cRFSc/3UwAAAAAOgAAAAAIAACAAAAAWusPVGT2SycS11JvpfrMId5g2LjtQYqLH+dXn2SrlgTAAAACby2pBgmJARqLFudK4Qj5+kQot/nOkEiPGXpfzkcg4lSCfvyKg3PI6xhIPMg6Rbk9AAAAAWAjj0t41tyDBKEdxJ7TAr9PAiPaH7MOYqd0dBysQWbO2elR9IlIfYH/lV14QXHfEl2drnknpvmyz8I81MF5PUQ==" />
    <add key="http://nuget.gw.symbolsource.org/Public/NuGet"
         value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA8AIoeAQ+IE6NzsOcXwVrzgAAAAACAAAAAAAQZgAAAAEAACAAAAAgfAEGVTxLl9OumuUWzPUdqkLNKDAmPJ1SIm7Uj4vpGAAAAAAOgAAAAAIAACAAAABH38qgiltJGevlY1zf0r1qQB2t7hrnVftUuvvR/DTweDAAAADJv+8lNQkoxwTHLPzBQRu12s0MJ3DdPPf5BTaOmOnP36mk5B4AYdOInfoc2KssdRpAAAAAcS2hzk5kfg/UW/A/d9qXbZXNPAEwflGyCLOWVmoEe9mGrMkcJXOkf5cqJWvPoaugIt3z1pcrWOVOFVaTqn73kg==" />
  </apikeys>
</configuration>