@{
    ViewBag.Title = "Index";
}
<h2>
    Things To Check</h2>
<ul>
    <li>Logs directory has a log in it and ...
        <ul>
            <li>There is an INFO announcement of Application Startup, this proves that WebActivator
                is doing its job.</li>
            <li>There is a DEBUG announcement from the Home Controller, this proves IoC is properly
                injecting the logger.</li>
            <li>There is an INFO announcement of Seeding Database</li>
        </ul>
    </li>
</ul>